.main {
    width: 200px;
    height: 325px;
    display: inline-block;
    margin-top: 45px;
    margin-left: 35px;
}
.img {
    width: 200px;
    height: 275px;
}
.title {
    float: left;
    width: 145px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    margin: 5px;
}
.genre {
    float: left;
    clear: left;
    font-size: 10px;
    margin-left: 5px;
}
.year {
    border: 1px solid black;
    float: right;
    font-size: 9px;
    margin: 5px;
    padding:2px;
    padding-left: 5px;
    padding-right: 5px;
}